{:deps {com.cognitect.aws/api       {:mvn/version "0.8.539"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.192"}
        com.cognitect.aws/s3        {:mvn/version "822.2.1109.0"}
        com.cognitect.aws/ec2        {:mvn/version "810.2.817.0"}
        com.cognitect/http-client {:mvn/version "1.0.110"}}}
